@media all and (max-width: 1000px) {
  .header-all ul{
    margin-right: 0px;
    float: left;
  }
   .logo{
    padding-left: 30px;
    width: 100%;
    font-size: 20px;

  }
  .show + a, ul{
    display: none;
  }
  .header-all ul li,header ul ul li{
    display: block;
    width: 100%;
  }
  .header-all ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  .header-all ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  .header-all ul ul a{
    padding-left: 40px;
  }
  .header-all ul ul ul a{
    padding-left: 80px;
  }
  .header-all ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  .header-all ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}

@media (max-width:670px) {
  /* Tambahkan CSS untuk lesson */
  .logo {
    font-size: 20px;
    }

  .lesson {
    width:100%;
    margin-bottom:100px;
  }
  .app-text{
    top:50%;
    left: 50%;
  }
  footer {
    text-align: center;
  }
}
@media (max-width:350px) {
  /* Tambahkan CSS untuk lesson */
  .logo {
    font-size: 20px;
    }
  .lesson {
    width:100%;
    margin-bottom:100px;
  }
  .app-text{
    top:50%;
    left: 50%;
  }
  footer {
    text-align: center;
  }
}
